<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
</head>
<style>
    .content {
        max-width: 500px;
        margin: auto;
        padding-top: 10%;
    }
    fieldset label {
        width: 100px;
        display: inline-block;
    }
</style>
<body class="content">

<form action="/recommend">
    <fieldset>
        <legend>Find recommendations for</legend>
        <p>
            <label>User</label>
            <select name="user_id" title="Select user">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}

            </select>
        </p>
        <p>
            <label>Algorithm</label>
            <select name="algo" title="Select algorithm">
                <option value="euclidean">Euclidean</option>
                <option value="pearson">Pearson</option>
            </select>
        </p>
    </fieldset>
    <input type="submit" value="Submit">
</form>

</body>
</html>
