<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
</head>
<style>
    .content {
        max-width: 500px;
        margin: auto;
        padding-top: 10%;
    }
</style>
<body class="content">

<p><i>Recommended users for <strong>{{ user.name }}</strong>:</i></p>

{% for rec in rec_users %}
<p>{{ rec.0.name }}, {{ rec.1 | round(precision=3) }}</p>
{% endfor %}

<br/>
<p><i>Recommended movies for <strong>{{ user.name }}</strong>:</i></p>

{% if rec_movies_len == 0 %}
<p>Found no recommendations.</p>
{% else %}
    {% for rec in rec_movies %}
    <p>{{ rec.0 }}, {{ rec.1 | round(precision=3) }}</p>
    {% endfor %}
{% endif %}

<br/><br/>
<hr/>
<p>Algorithm: {{ algo | capitalize }}</p>

</body>
</html>